.contact__option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.contact__option .contact__option__image {
    width: 48px;
    height: 48px;
    min-width: 48px;
    background-repeat: no-repeat;
    background-size: 48px;
    padding-right: 1rem;
}

.contact__option h3,
.contact__option p,
.contact__option a {
    color: var(--lightTextColor);
}



.contact__option h3 {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .contact__option .contact__option__image {
        width: 42px;
        height: 42px;
        min-width: 42px;
        background-size: 42px;
    }
}

@media (max-width: 340px) {
    .contact__option .contact__option__image {
        width: 32px;
        height: 32px;
        min-width: 32px;
        background-size: 32px;
        padding-right: 0.5;
    }
}