.link {
    text-decoration: none;
    color: var(--lightTextColor);
}

li {
    list-style: none;
}

.header {
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background: var(--darkBlue);
    color: var(--lightTextColor);
}

.header__wrapper {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--lightTextColor);
}

.logo__image {
    width: 64px;
    height: 64px;
}

.logo__name {
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    font-size: 1rem;
    text-align: center;
}

/* a:hover {
    color: var(--gold);
} */

/*  Burger  */

.burger__menu__container {
    opacity: 0;
    display: none;
}

.burger__menu__container .burger__menu {
    width: 36px;
    height: 3px;
    background-color: var(--lightTextColor);
    transition: all ease-in-out 0.2s;
}

.burger__content {
    display: none;
    opacity: 0;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--hoverBlue);
}

.header__burger__nav {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2px;
}

.header__burger__nav li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
    background-color: var(--darkBlue);
}

.header__burger__nav li:hover {
    background-color: var(--hoverBlue);
}

.header__burger__nav li .link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.header__wrapper .link {
    display: flex;
    flex-direction: row;
    align-items: center;
}



@media (max-width: 768px) {
    .logo__name {
        font-size: 1.2rem;
    }

    .logo__image {
        width: 48px;
        height: 48px;
    }

    .header__nav {
        display: none;
    }
    .burger__menu__container {
        opacity: 1;
        height: 100%;
        width: 50px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .burger__content {
        display: flex;
        opacity: 1;
    }

    .header.active .burger__menu__1 {
        transform: translateY(5.5px) rotate(45deg);
    }
    
    .header.active .burger__menu__2 {
        transform: translateY(-5.5px) rotate(-45deg);
    }
    
    .header.active {
        height: 180px;
    }
}