.service__detail {
    background: #FFFFFF;
    color: var(--darkBlue);
    box-shadow: var(--shadow);
    border-radius: 4px;
}

.service__detail summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    list-style-type: none;
}

.service__detail summary,
.service__detail .details__info {
    padding: 0.8rem;
}

.service__detail summary .icon {
    display: inline-block;
    margin-left: auto;
    width: 32px;
    height: 32px;
    transition: all ease-in-out 0.2s;
    transform: rotate(-90deg);
    color: var(--darkBlue);
}

.service__detail[open] summary .icon {
    transform: rotate(0deg);
}

h3 {
    font-size: 1.5rem;
    color: var(--darkBlue);
    user-select: none;
    width: 100%;
    margin-right: 1rem;
    font-weight: 600;
    text-align: start !important;
}

.detail__info {
    padding: 0 3.5rem 1rem 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
}

.__primary {
    color: var(--gold);
    font-weight: 600;
    text-align: start;
}

.docs__list {
    text-align: start;
}

.info_description,
.additional__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

details[open] summary~* {
    animation: sweep .2s ease-in-out;
}

.detail__wrapper {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.docs__block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.price__list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.position {
    background: #FFFFFF;
    color: var(--darkBlue);
    box-shadow: var(--shadow);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 4px;
}

.hide, svg {
    opacity: 0;
    display: none;
}

@keyframes sweep {
    0% {
        opacity: 0;
        transform: translateX(-10px)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}


@media (max-width: 520px) {
    h3 {
        font-size: 1.4rem;
    }
}