.block__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 4rem;
    z-index: 2;
    background: var(--backgroundColor);
    flex: 1;
}


.container {
	align-items: center;
	background-image: linear-gradient(to bottom right, var(--darkBlue), var(--darkBlue2));
	color: #fff;
	display: flex;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	justify-content: center;
	flex: 1;
	text-align: center;
    margin: 0;
	overflow: hidden;
	position: relative;
}

.container h1 {
	font-size: 10em;
	margin: 0 0 0.5em;
	line-height: 10px;
}

.container p {
	font-size: 1.2em;
	line-height: 26px;
}

.container small {
	opacity: 0.7;
}

.container a {
	color: #eee;
}

.circle {
	background-image: linear-gradient(to top right, var(--darkBlue), var(--darkBlue2));
	/* border-radius: 50%; */
	position: absolute;
	z-index: 10;
}

.circle.small {
	top: 200px;
	left: 150px;
	width: 100px;
	height: 100px;
}

.circle.medium {
	background-image: linear-gradient(to bottom left, var(--darkBlue), var(--darkBlue2));
	bottom: -70px;
	left: 0;
	width: 200px;
	height: 200px;
}

.circle.big {
	top: -100px;
	right: -50px;
	width: 400px;
	height: 400px;
}

@media screen and (max-width: 480px) {
	.container h1 {
		font-size: 8em;
	}
	
	.container p {
		font-size: 1em;
	}
}