table {
    display: inline;
    width: 100% !important;
    overflow-x: auto !important;
}

colgroup {
	width: 100% !important;
}

td, tr, th {
    text-align: center !important;
    font-size: 12px !important;
    background-color: transparent !important;
    border: 1px solid var(--grey);
    height: auto !important;
    vertical-align: middle !important;
}

.top {
    vertical-align: top !important;
}

td {
    padding: 0 0.5rem;
    box-sizing: border-box;
}

ol {
    list-style: decimal !important;
    list-style-type: decimal !important; /* Убедитесь, что тип списка установлен на десятичный */
            padding-left: 3rem !important;
}

ol .Normal {
    text-align: start;
}

span.a { font-family:Tahoma; font-size:8pt; text-decoration:none; color:#000000 }
			.awlist1 { list-style:none; counter-reset:awlistcounter93_0 6499 }
			.awlist1 > li:before { content:counter(awlistcounter93_0); counter-increment:awlistcounter93_0 }
			.awlist2 { list-style:none; counter-reset:awlistcounter94_0 6499 }
			.awlist2 > li:before { content:counter(awlistcounter94_0); counter-increment:awlistcounter94_0 }
			.awlist3 { list-style:none; counter-reset:awlistcounter95_0 6499 }
			.awlist3 > li:before { content:counter(awlistcounter95_0); counter-increment:awlistcounter95_0 }
			.awlist4 { list-style:none; counter-reset:awlistcounter96_0 8212 }
			.awlist4 > li:before { content:counter(awlistcounter96_0); counter-increment:awlistcounter96_0 }
			.awlist5 { list-style:none; counter-reset:awlistcounter97_0 1799 }
			.awlist5 > li:before { content:counter(awlistcounter97_0); counter-increment:awlistcounter97_0 }